<!DOCTYPE HTML>
<html>
    <head>
        {% if title %}
            <title>SUT - {{title}}</title>
        {% else %}
            <title>SUT</title>
        {% endif %}

    </head>

    <body>
        <div class="header-menu">
            <ul>
                {% for page, name in [("main", "Home"), ("allRandom", "All Random")] %}
                    <li id="{{page}}"><a href={{url_for(page)}}>{{name}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </body>


    {% block content %}{% endblock content %}
    
</html>